<script type="application/ld+json">{"@context":"https://schema.org/","@type":"WebPage","name":"@Goodpods | Linktree","url":"https://linktr.ee/Goodpods","sameAs":[],"description":"Linktree. Make your link do more.","image":"https://d1fdloi71mui9q.cloudfront.net/3Dvunz4QO8p81ErY5kBQ_f2f840f5359ceb6ddff31b91d59bd021.png","identifier":"Goodpods","alternateName":"@Goodpods Linktree Profile","significantLink":"https://apps.apple.com/us/app/goodpods/id1483407582","dateCreated":1594662351000,"dateModified":1624121538000,"isPartOf":"https://linktr.ee","thumbnailUrl":"https://d1fdloi71mui9q.cloudfront.net/3Dvunz4QO8p81ErY5kBQ_f2f840f5359ceb6ddff31b91d59bd021.png","genre":"","keywords":""}</script>
<script src="https://assets.production.linktr.ee/profiles/_next/static/chunks/webpack-e7db467b59c512592a9c.js" defer="" crossorigin="anonymous"></script>
<script src="https://assets.production.linktr.ee/profiles/_next/static/chunks/commons.5d51f92a50062da6faeb.js" defer="" crossorigin="anonymous"></script>
<script src="https://assets.production.linktr.ee/profiles/_next/static/chunks/framework.3834cf30ec24a5a5d703.js" defer="" crossorigin="anonymous"></script>
<script src="https://assets.production.linktr.ee/profiles/_next/static/chunks/main-889a4565f841dca76aae.js" defer="" crossorigin="anonymous"></script>
<script src="https://assets.production.linktr.ee/profiles/_next/static/chunks/e080fb28f6952cca57f97011e37be96262fed6b4.6f7817f6ecb2b463af6c.js" defer="" crossorigin="anonymous"></script>
<script src="https://assets.production.linktr.ee/profiles/_next/static/chunks/main-889a4565f841dca76aae.js" defer="" crossorigin="anonymous"></script>
<script src="https://assets.production.linktr.ee/profiles/_next/static/chunks/main-889a4565f841dca76aae.js" defer="" crossorigin="anonymous"></script>
<script src="https://assets.production.linktr.ee/profiles/_next/static/chunks/29107295.b0e923520f6051f66b6f.js" defer="" crossorigin="anonymous"></script>
<script src="https://assets.production.linktr.ee/profiles/_next/static/chunks/0f3c3701ba3bf6ec2f451d2e0b1bfae0a87f0f5c.8a14d34d618d51e45d4b.js" defer="" crossorigin="anonymous"></script>
<script src="https://assets.production.linktr.ee/profiles/_next/static/chunks/pages/_app-6a0740252a051dd48119.js" defer="" crossorigin="anonymous"></script>
<script src="https://assets.production.linktr.ee/profiles/_next/static/chunks/pages/%5Bprofile%5D-614a640cc65ec898032c.js" defer="" crossorigin="anonymous"></script>
<script src="https://assets.production.linktr.ee/profiles/_next/static/b8ddabdc0d690d23c619484b6f3f56d91748b6f3/_buildManifest.js" defer="" crossorigin="anonymous"></script>
<script src="https://assets.production.linktr.ee/profiles/_next/static/b8ddabdc0d690d23c619484b6f3f56d91748b6f3/_ssgManifest.js" defer="" crossorigin="anonymous"></script>
<script src="https://cdn-au.onetrust.com/scripttemplates/6.28.0/otBannerSdk.js" async="" type="text/javascript"></script>
<script charset="utf-8" src="https://assets.production.linktr.ee/profiles/_next/static/chunks/248.b0e062378ed6c2cb9b76.js" crossorigin="anonymous"></script>
<script src="https://cdn-au.onetrust.com/scripttemplates/6.28.0/otBannerSdk.js" async="" type="text/javascript"></script>
<link rel="stylesheet" href="https://assets.production.linktr.ee/profiles/_next/static/css/34b84d18bb4d0a88c0c1.css" crossorigin="anonymous" data-n-g="">
<link rel="preload" href="https://assets.production.linktr.ee/profiles/_next/static/css/94da0bacf77fd77c3e12.css" as="style" crossorigin="anonymous">
<link rel="stylesheet" href="https://assets.production.linktr.ee/profiles/_next/static/css/94da0bacf77fd77c3e12.css" crossorigin="anonymous" data-n-p="">
<link rel="preload" href="https://assets.production.linktr.ee/profiles/_next/static/css/34b84d18bb4d0a88c0c1.css" as="style" crossorigin="anonymous">
<script src="https://cdn-au.onetrust.com/scripttemplates/otSDKStub.js" type="text/javascript" charset="UTF-8" data-domain-script="d5c19ad0-1f05-4c37-9934-1585c94aab5c"></script>
<script type="text/javascript" async="" src="//www.googleadservices.com/pagead/conversion_async.js" nonce="3e886c473e92eda601a5200c599334a5"></script>




































































<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- OpenGraph/Social sharing -->
<meta name="description" content="{{ settings.metaDescription }}" />
<meta name="og:description" content="{{ settings.metaDescription }}" />
<meta property="og:image" content="{{ settings.avatarImage }}" />
<meta property="og:title" content="{{ settings.metaTitle}}" />
<meta name="twitter:card" content="summary" />
<link
  rel="icon"
  href="https://cdn.glitch.global/569811b9-679d-4408-84c7-88827fb26734/Favicon?v=1647446630915"
/>
<link rel="stylesheet" type="text/css" href="/styles/style.css" />
<!--PWA requirements-->
<meta name="theme-color" content="#9480FF" />
<link
  rel="apple-touch-icon"
  href="https://cdn.glitch.global/569811b9-679d-4408-84c7-88827fb26734/Favicon?v=1647446630915"
/>

<!-- PWA setup - update public/sw.js if you add your own assets like a new .css file -->
<link rel="manifest" href="manifest.json" />
<script>
  if (location.protocol == "http:") location.protocol = "https:";
  if ("serviceWorker" in navigator) {
    navigator.serviceWorker
      .register("sw.js")
      .then((reg) => console.log("Service Worker registered", reg))
      .catch((err) => console.error("Service Worker **not** registered", err));
  } else {
    console.warn("Service Worker not supported in this browser");
  }
</script>
